body {

}

nav {
  background-color: gray;
  font-family: Arial, sans-serif;
}
a {
  background-color: #ff7900;
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 2px;
  width: 200px;
  float: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a:hover {
  background-color: #aaaaaa;
  }
main {
  float: left;
  width: 700px;
  display: inline-block;
  border: 2px solid orange;
}
aside {
  float:right;
  width: 425px;
  display: inline-block;
  border: 2px solid orange;
}